.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    box-sizing: border-box;
    padding: 50px 20px;
}

.todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: clamp(100px, 100%, 560px);
    height: 660px;
    border: 5px solid #1a1f23;
    border-radius: 5px;

    padding: 70px 10px 10px 10px;

    overflow: hidden;
}

.title {
    font-size: 50px;
    font-weight: 400;
}

.description {
    text-align: center;
    font-size: 18px;
    letter-spacing: 1px;

    padding-top: 10px;
}

.addition-field-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 10px;

    padding-top: 15px;
    margin-bottom: 15px;
}

.input-field {
    width: clamp(100px, 100%, 410px);
    border: 2px solid #1a1f23;
    border-radius: 8px;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.5px;

    background-color: #d2e8d4;
    color: #333;

    transition: all 0.3s ease-in-out;

    padding: 8px;
}

.input-field:focus {
    border-color: #4CAF50;
    background-color: #b7dbbb;
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.5);
}
.input-field::placeholder {
    color: #777;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}
.input-field:focus::placeholder {
    opacity: 0.5;
}

.add-task-btn {
    border-radius: 5px;
    border: 2px solid #12261a;

    font-size: 16px;
    font-weight: 500;

    padding: 8px;

    cursor: pointer;
}

.add-task-btn:hover {
    border-radius: unset;
}

.list-of-tasks {
    display: flex;
    flex-direction: column;
    width: clamp(100px, 100%, 490px);
    height: 100%;

    overflow-y: auto;

    scrollbar-width: thin;
    scrollbar-color: #6b5b4b #cdc5b4;
    scrollbar-gutter: stable;
}

.task-container {
    display: flex;
    align-items: center;
    gap: 10px;

    margin-bottom: 10px;
}

.control-btn {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;

    padding: 5px;

    cursor: pointer;
}
.control-btn:hover {
    border-radius: 5px;
}

.btn-delete {
    min-width: 85px;
    min-height: 35px;
    border: 2px solid #844742;

    transition: all .15s ease-in-out;
    color: #bb3e3e;
}
.btn-delete:hover {
    background-color: #844742;
    color: #ffffff;
}

.btn-edit {
    min-width: 50px;
    min-height: 35px;
    border: 2px solid #483e1b;

    transition: all .15s ease-in-out;
    color: #7f6e42;
}
.btn-edit:hover {
    background-color: #483e1b;
    color: #ffffff;
}

.task {
    position: relative;

    font-size: 20px;
    word-break: break-word;
    cursor: pointer;
}

.author {
    position: relative;

    display: block;

    text-decoration: none;
    font-size: 12px;
    color: #000;

    padding-top: 10px;
}

.author:hover::before,
.task:hover::before {
    transform: scale(1,1);
}
.author::before,
.task::before {
    position: absolute;
    bottom: 0;
    content: '';

    border-bottom: 1px solid #000;
    transform: scale(0,1);
    width: 100%;
    transition: transform .3s;
}